body{
    background-color: lavender;
}

h1{
    text-align: center;
}

img{
    width: 600px;
    border-color: turquoise;
    border-style: solid;
    border-width: 5px;
    margin-left: 60px;
}

h2{
    font-size: 30px;
    color: silver;
}

.whatwedo{
    font-size: 20px;
    color: plum;
    margin-left: 50px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: large;
}

h6{
    text-align: center;
    font-size: 30px;
    font-family: Snell Roundhand;
}

.margin{
    text-align: center;
}

.background_items{
    background-color: turquoise;
}

.items{
    color: plum;
}

.links{
    text-decoration: none;
    text-align: center;
}
